:root {
  --background : #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color:var(--background) ;


}
*{
  margin: 0px;
  padding: 0px;
}